# Elastic Stack Configuration
ELASTIC_VERSION=8.11.0

# IMPORTANT: Changez ces mots de passe pour la production !
ELASTIC_PASSWORD=changeme
KIBANA_SYSTEM_PASSWORD=changeme
LOGSTASH_INTERNAL_PASSWORD=changeme
METRICBEAT_INTERNAL_PASSWORD=changeme
FILEBEAT_INTERNAL_PASSWORD=changeme
HEARTBEAT_INTERNAL_PASSWORD=changeme
MONITORING_INTERNAL_PASSWORD=changeme
BEATS_SYSTEM_PASSWORD=changeme

# Kafka Producer Configuration
KAFKA_TOPIC=velib-data
FETCH_INTERVAL=60

# Note: L'API Vélib' ne nécessite pas de clé API
# Les données sont publiques et gratuites